ul li {
    background:0;
}
.main-content {
    width:740px;
    margin-left:230px;
    background:white;
    padding:30px;
}

.sidebar {
    width:220px;
    position:fixed;
    background-color:white;
    top:0;
    left:0;
    height:100%;
    padding: 0px 5px;
    overflow-y: scroll;
}
